#chat{
	border-left: 2px solid #999;
}

#main{
	height: 100vh;
	padding: 0;
}

#messages{
	flex-grow: 1;
    flex-direction: column;
	height: auto!important;
	overflow-y: auto;
}

#messages p{
	color: white;
}

#sendMessage input{
	background-color: #666666;
	border-color: black;
	caret-color: white;
	color: white;
}

#spacer{
	flex-grow: 1;
}

#userList h3{
	color: white;
}

#userList p{
	color: #aaa;
}

.flex{
	display: flex;
}

.flexVertical{
	flex-direction: column;
}

.container>*{
	padding: 10em 5em;;
}

body{
	background-color: #212121;
}
